<h2>
  Results for <%= @result.url %>
</h2>
<div class="panel panel-default" id="page" data-page-id="<%= @result.id %>">
  <%= render "page.html", result: @result %>
</div>
<div>
  <%= link "Delete Page", to: page_path(Libra.Endpoint, :delete, @result.id), method: :delete %>
</div>
